<div
  class="w-screen h-screen flex justify-start items-start flex-col overflow-x-hidden overflow-y-scroll text-white"
  style="background-color: #182747; color: #d8d8d8"
>
  <div
    class="flex p-4 w-screen justify-center sticky top-0 left-0"
    style="background-color: #182747"
  >
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2"
      *ngIf="chaves.primeiraFase.length !== 3"
      (click)="escolherConfrontoFaseUm()"
    >
      Sortear fase um
    </button>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2"
      *ngIf="chaves.segundaFase.length !== 8"
      (click)="escolherConfrontoFaseDois()"
    >
      Sortear fase dois
    </button>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      (click)="resetarSorteio()"
    >
      Refazer todo o sorteio
    </button>
  </div>

  <div class="flex w-3/4 justify-between mx-auto">
    <div class="w-3/5 flex flex-col mr-4">
      <div
        class="p-4 border border-solid border-gray-200 mb-4 rounded"
        style="background-color: #182747cc"
      >
        <p class="text-lg font-bold w-full text-center mb-2">Fase um</p>
        <ng-container
          *ngFor="let confronto of chaves.primeiraFase; let index = index"
        >
          <p
            class="p-4 flex items-center justify-between border border-solid border-gray-200 text-center"
          >
            {{ confronto.descricao }}:
            <ng-container
              *ngFor="let time of confronto.times; let first = first"
            >
              <ng-container *ngIf="first">
                <img [src]="time.imagem" [alt]="time.nome" /> x
              </ng-container>
              <ng-container *ngIf="!first">
                <img [src]="time.imagem" [alt]="time.nome"
              /></ng-container>
            </ng-container>
          </p>
        </ng-container>
      </div>

      <div
        class="p-4 border border-solid border-gray-200 mb-4 rounded"
        style="background-color: #182747cc"
      >
        <p class="text-lg font-bold w-full text-center mb-2">Fase dois</p>
        <ng-container
          *ngFor="let confronto of chaves.segundaFase; let index = index"
        >
          <p
            class="p-4 flex items-center justify-between border border-solid border-gray-200 text-center"
          >
            {{ confronto.descricao }}:
            <ng-container
              *ngFor="let time of confronto.times; let first = first"
            >
              <ng-container *ngIf="first">
                <img [src]="time.imagem" [alt]="time.nome" /> x
              </ng-container>
              <ng-container *ngIf="!first">
                <img [src]="time.imagem" [alt]="time.nome"
              /></ng-container>
            </ng-container>
          </p>
        </ng-container>
      </div>
    </div>

    <div class="w-1/5 flex flex-col">
      <div
        class="p-4 border border-solid border-gray-200 mb-4 rounded"
        style="background-color: #182747cc"
      >
        <p class="text-lg font-bold w-full text-center mb-2">
          Times disponíveis:
        </p>

        <p class="font-bold w-full text-center mb-2">Fase 1 - pote 1:</p>
        <ng-container *ngFor="let time of times.faseUmPoteUm">
          <p class="text-center">
            <img [src]="time.imagem" [alt]="time.nome" />
          </p>
        </ng-container>

        <div class="border border-solid border-white mt-2"></div>

        <p class="font-bold w-full text-center mt-2">Fase 1 - pote 2:</p>
        <ng-container *ngFor="let time of times.faseUmPoteDois">
          <p class="text-center">
            <img [src]="time.imagem" [alt]="time.nome" />
          </p>
        </ng-container>

        <div class="border border-solid border-white mt-2"></div>

        <p class="font-bold w-full text-center mt-2">Fase 2 - pote 1:</p>
        <ng-container *ngFor="let time of times.faseDoisPoteUm">
          <p class="text-center">
            <img [src]="time.imagem" [alt]="time.nome" />
          </p>
        </ng-container>

        <div class="border border-solid border-white mt-2"></div>

        <p class="font-bold w-full text-center mt-2">Fase 2 - pote 2:</p>
        <ng-container *ngFor="let time of times.faseDoisPoteDois">
          <p class="text-center">
            <img [src]="time.imagem" [alt]="time.nome" />
          </p>
        </ng-container>
      </div>
    </div>
  </div>

  <div style="width: 90vw; margin: 1rem auto">
    <div
      class="p-4 border border-solid border-gray-200 mb-4 rounded"
      style="background-color: #182747cc"
    >
      <p class="text-lg font-bold w-full text-center mb-2">Fase três</p>
      <ng-container
        *ngFor="let confronto of chaves.terceiraFase; let index = index"
      >
        <p
          class="p-4 flex items-center justify-between border border-solid border-gray-200 text-center"
        >
          {{ confronto.descricao }}:
          <ng-container *ngFor="let time of confronto.times; let index = index">
            <ng-container *ngIf="index === 0">
              <img [src]="time.imagem" [alt]="time.nome" />/
            </ng-container>
            <ng-container *ngIf="index === 1">
              <img [src]="time.imagem" [alt]="time.nome" /> x
            </ng-container>
            <ng-container *ngIf="index === 2">
              <img [src]="time.imagem" [alt]="time.nome" />/
            </ng-container>
            <ng-container *ngIf="index === 3">
              <img [src]="time.imagem" [alt]="time.nome"
            /></ng-container>
          </ng-container>
        </p>
      </ng-container>
    </div>
  </div>
</div>
